:root{
  --clr-lb : lightblue ;
  --clr-lg : lightgray ;
  --clr-lp : lightpink ; 
  --clr-lsg : lightseagreen ;
  --clr-bi : bisque ;
  --clr-wh-s : whitesmoke ;
  --clr-wh-b : #F9F6EE ;
  --clr-wh-e : #F0EAD6 ;
  --clr-b-d : rgb(14, 8, 49) ;
  --clr-cg : #007000 ;
  --clr-dg : rgb(0, 56, 0) ;
  --clr-sy : #ffca36 ;
  --w-100 : 100% ;
  --fw-s : 400 ;
  --fw-m : 600 ;
  --fw-l : 800 ;
  --fw-xl : 1000 ;
  --ff-p : Verdana, Geneva, Tahoma, sans-serif;
}



*{
  padding: 0;
  margin: 0;
  font-family: Roboto ,Arial;
}
body{
  background-color: var(--clr-b-d);
  color: var(--clr-wh-s) ;
}

.container{
  width: 100%;
  height: 1000px;
  display: flex ;
  flex-direction: column;
  align-items: center;
}

/* --------- header -------------  */

.subject{
 padding-top: 10%;
 height: 20%;
}

.subject p {
  font-size: 30px;
  font-weight: var(--fw-xl);
}

/* ---------- main ------------- */

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  column-gap: 50px;
}

/* ------------section------------- */




section , .section-1{
  display: flex;
  justify-content: center;  
  width: 300px;
  height: 500px;
  /* background-color: gray ; */
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  animation: flip 1s  linear;
  transition: width .30s , height .30s;
}

.section-2{
  animation: flip 1s  linear 1s;
  transition: width .30s , height .30s;
}

.section-1:hover , .section-2:hover{
  width: 320px;
  height: 520px;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/* --------head of section 1 -----------  */

.logo{
  position: relative;
}

div img{
  width: 130px;
  height: 130px;
  position: absolute;
  top: -20px;
  right: -40px;
  opacity: 0.2;
}

section div.head-of-card{
  background: url(/Virtual-business-card/img/front-of-card.jpg);
  width: 100%;
  height: 30%;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding : 30px 20px 0 0 ;
  position: absolute;
}

.head-of-card .text{
 width: 100% ;
 height: 40%;
 color: var(--clr-lg);
}

.head-of-card p {
 font-family:var(--ff-p);
 font-size: 17px;
}
.head-of-card p:first-child{
  font-weight: var(--fw-xl);
}
.head-of-card p:last-child{
  padding-top: 5px;
  font-size: 12px;
  font-weight: var(--fw-s);
}

/* --------- circle-section-1 ----------*/

.circle-section-1{
  width: 170px;
  height: 170px;
  background-color: black;
  position: absolute;
  top: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--clr-cg) ;
  z-index: 100;
}


.circle-section-1 i{
  font-size: 100px;
  color: var(--clr-cg);
}

/* -------------footer-section-1---------- */

.footer-section-1{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--clr-cg);
}

.footer-section-1 .name {
  width: 240px;
  height: 50px;
  position: absolute;
  z-index: 101;
  top: 58%;
  left: 18% ;
  font-family: Roboto , Arial;
  font-weight: var(--fw-xl);
  font-size: 20px;
  color: var(--clr-dg);
}

/* ----------footer-section-1-----personal-info-------- */

.personal-info-container{
  /* background-color: gray; */
  height: 29%;
  position: absolute;
  bottom: 15px;
  right: 5px;
  left: 5px;
  display: grid;
  grid-template-columns: 50px 1fr;

}
.personal-info-container .box {
   border: 1px solid black;
  /* grid-template-rows: 1fr 1fr 1fr ; */
}
.personal-info-container .box.icon-boxes {
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5px;
  border: none;
}
.personal-info-container .box.icon-boxes .icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--clr-dg);
}
.personal-info-container .box.info-boxes {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5px;
  border: none;
  
} 
.personal-info-container .box.info-boxes .text-section{
  display: flex;
  align-items: center;
  color: var(--clr-dg);
  font-weight: var(--fw-l);
}


/* --------------------section-2 ------  */

.section-2{
  position: relative;
  border: 5px solid var(--clr-cg);
}
.section-2 .top-section-2{
  position: absolute;
  width: 100%;
  height: 70%;
  background: url(/Virtual-business-card/img/back-of-card.jpg);
  background-size: cover;
  background-position: center;
}


/* -------------circle-section-2 ---------- */

.circle-section-2{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color:  var(--clr-cg);
  border: 6px solid  var(--clr-cg);
  bottom: 17%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-radius: 50%;
  color: black;
}


/* ---------bottom-section-2------------ */

.section-2 .bottom-section-2{
  position: absolute ;
  width: 100%;
  height: 30%;
  background-color: var(--clr-cg);
  bottom: 0;
  /* box-shadow: inset 0 15px 9px rgb(0, 0, 0) ; */
  z-index: 100;
}

.bottom-section-2 p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -15px;
  font-size: 20px;
  font-weight: var(--fw-l);
  color: var(--clr-dg);
  transition: font-size .30s;
}


.bottom-section-2 a{
  text-decoration: none;
}
.bottom-section-2 p:hover {
  font-size: 30px;
}








